<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--通知-->
		<div class="PcWrapper">
			<table class="table table-bordered table-striped informTable">
				<tr>
					<th ng-click="selectAll()"><span class="glyphicon glyphicon-star-empty inform-item-select"></span>全选</th>
					<th>类型</th>
					<th>标题</th>
					<th>内容</th>
					<th>添加时间</th>
					<th>操作</th>
					<th></th>
				</tr>
				<tr ng-repeat="student in informs">
					<td><span class="glyphicon glyphicon-star-empty inform-item-chexbox"></span>{{student.inform_id}}</td>
					<td>{{student.inform_type}}</td>
					<td><span class="inform-tit">{{student.inform_tit}}</span></td>
					<td><span class="inform-content">{{student.inform_content}}</span></td>
					<td>{{student.inform_date}}</td>
					<td><button class="btn btn-success" data-toggle="modal" data-target="#inform{{student.inform_id}}">查看</button></td>
					<!-- Modal -->
					<td>
						<div class="modal fade" id="inform{{student.inform_id}}" tabindex="-1" role="dialog" aria-labelledby="il{{student.inform_id}}" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
										<h4 class="modal-title" id="il{{student.inform_id}}">{{student.inform_tit}}</h4>
									</div>
									<div class="modal-body">
										{{student.inform_content}}
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</td>

				</tr>
			</table>
			<div class="informBtns">
				<button class="btn btn-default">删除选中</button>
			</div>
		</div>
		<script type="text/javascript">
			$(".inform-item-chexbox").click(function() {
				$(this).toggleClass('active')
			})
		</script>
	</body>

</html>