<!DOCTYPE html>
<html class="">

	<head>
		<meta charset="UTF-8">
		<title>登陆页面</title>
		<meta name="Keywords" content="学生信息管理系统" />
		<meta name="Description" content="学生信息管理系统" />

		<!--设置IE 强制用最高版本渲染-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- 设置360 搜狗  让双核浏览器强制用webkit内核渲染 -->
		<meta name="renderer" content="webkit">
		<!-- 避免百度代码嵌套-->
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
		<link rel="icon" href="{{ url_for('static', filename='/imgfavicon.ico') }}"/>
	</head>

	<body>
		<div class="outer-wrapper">
			<div class="inner-wrapper">
				<h1 class="loginTitle">学生信息管理系统</h1>
				<div class="inner">
					<!--S 表单-->
					<form action="" method="post" id="loginForm">
						<div class="form-group">
							<h4>登陆</h4>
						</div>
						<div class="form-group clearfix">
							<label for="user_type" class="col-sm-4 control-label">用户类型</label>
							<select name="user_type" id="user_type" class="form-control">
								<option value="student">学生</option>
								<option value="administor">管理员</option>
							</select>
							<label for="user_name" class="col-sm-4 control-label">用户名</label>
								<input type="text" class="form-control" name="user_name" id="user_name" placeholder="请输入用户名">
							<label for="user_pass" class="col-sm-4 control-label">密码</label>
								<input type="password" class="form-control" name="user_pass" id="user_pass" placeholder="请输入密码">
							<label class="col-sm-4 control-label">验证码</label>
								<input type="text" class="form-control" name="use_yzm" id="use_yzm" placeholder="" />
								<img src="{{ url_for('static', filename='img/yzm.png') }}" />
							<button type="submit" class="btn btn-default btn-block myBtn" onclick="submitB();return false">登陆</button>
						</div>
						<!--<div class="form-group clearfix">
							
						</div>
						<div class="form-group clearfix">
							
						</div>
						<div class="form-group clearfix">
							
						</div>-->

					</form>
					<!--E 表单-->

				</div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript">
			function submitB() {
				//				function(){
				var useName = $("#user_name").val()
				var usePass = $("#user_pass").val()
				var useYzm = $("#use_yzm").val()
//				var date = getFormJson('form');
				var date=[{
					"useName":useName
				},
				{
					"usePass":usePass
				},
				{
					"useYzm":useYzm
				}
				]
				console.log(date)
				var url = "http://127.0.0.1:5000/login";
				if(useName == '') {
					alert('请输入用户名')
					return
				} else if(usePass == '') {
					alert('请输入密码')
					return
				} else if(useYzm == '') {
					alert('请输入验证码')
					return
				}
				$.post(url, date, function(data) {
					if(data.msg == 1) {
						window.location.href = 'main.html';//成功测
					} else {
						alert('参数错误')
					}
				}, 'json')
//						window.location.href = 'main.html';
				//				}
			}
			//先不用
			function getFormJson(frm) {
				var o = {};
				var a = $(frm).serializeArray();
				console.log(a)
				$.each(a, function() {
					if(o[this.name] !== undefined) {
						if(!o[this.name].push) {
							o[this.name] = [o[this.name]]
						}
						o[this.name].push(this.value || '');
					} else {
						o[this.name] = this.value || '';
					}
				});
				return o
			}
			//			var date= getFormJson('#loginForm');
			//					alert(date)
		</script>
	</body>

</html>